:root {
    --dark-blue: #222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --brown: #474040;
}

body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.container {
    width: 1138px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-color: var(--dark-blue);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

.header__navigation {
    display: none;
}



.header__logo {
    margin: 0 10px 0 0;
}

.header__person-link {
    margin: 0 35px 0 0;
    
}

.brand {
    display: flex;
    margin: 0 0 63px;
    
}

.fdhdg{
    margin-top: 20px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-wrapper {
    padding: 0 0 0 91px;
    flex-grow: 1;
    background-color: var(--pink);
    display: flex;
    align-items: center;
}

.brand__subtitle {
    display: block;

    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}

.brand_foto{
    width: 800px;
    height: 765px; 
    
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offers__item {
    color: white;
    width: 360px;
    min-height: 260px;
    background-color: var(--brown);
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__item--woman {
    background-image: url(../img/Group\ 35.jpg);
}

.offers__item--man {
    background-image: url(../img/Group\ 37.jpg);
}

.offers__item--kds{
    background-image: url(../img/Group\ 38.jpg);
}

.offers__item--accesories {
    background-image: url(../img/Group\ 36.jpg);
    width: 100%;
    margin: 0;
}

.container_text{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

}

.container_women{
    font-size: 25px;
    line-height: 22px;
    text-align: center;
    color: var(--dark-pink)
}

.products{
    margin-top: 97px;
}

.products_featured{
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.products_shop{
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
}

.product_name{
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 25px;
    padding-left: 18px;
}

.product_text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    max-width: 324px;
    padding-top: 13px;
    padding-left: 18px;
}

.product_price{
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 18px;
    padding-left: 18px;
    padding-bottom: 20px;
}

.products_photo{
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 18px;
    
}

.products_background{
    background: #F8F8F8;
    margin-top: 30px;
}

.button_text{
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

.advantages_button{
    min-width: 211px;
    min-height: 47px;
    border: 1px solid #FF6A6A;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 49px;

}

.footer_information{
    background: #222224;
    margin-top: 96px;
}

.footer_offers1{
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    padding-top: 28px;
}

.footer_offers2{
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    padding-top: 20px;
}

.footer_offers3{
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    padding-top: 25px;
}

.offers_text1{
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    max-width: 360px;
    text-align: center;
    padding-top: 16px;
}

.offers_text2{
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    max-width: 360px;
    text-align: center;
    padding-top: 16px;
}

.offers_text3{
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    max-width: 360px;
    text-align: center;
    padding-top: 16px;
}

.footer_offers_logo{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    
}

.footer_logo1{
    margin-left: 158px;
    margin-top: 104px;
}

.footer_logo2{
    margin-left: 158px;
    margin-top: 104px;
}

.footer_logo3{
    margin-left: 158px;
    margin-top: 104px;
}

.free_delivery{
    margin-right: 30px;
}



.quality_assurance{
    margin-left: 30px;
}

.footer_offers--text{
    padding-bottom: 104px;
}

.footer_contacts{
    background-image: url(../img/photo\ subscribe.jpg);
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    
    
    
}

.contact_photo{
    padding-right: 100px;
    padding-top: 97px;
    background: transparent;

}

.contact_text--me{
    padding-top: 30px;
    max-width: 300px;
    text-align: center;
    overflow: hidden;
    background: transparent;
    padding-bottom: 171px;
    
    
}

.footer_foto{
    padding-left: 105px;
}

.footer_subscribe{
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.footer_newletter{
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.footre_email{
    margin-top: 150px;
    
}



.input_email{
    margin: 0;
    background: #E1E1E1;
    width: 256px;
    height: 50px;
    border-radius: 50px 0 0 50px;
}

.submit_email{
    background: #F16D7F;
    width: 100px;
    height: 56px;
    margin: 0;
    border-radius: 0 50px 50px 0;
}

.footer_network{
    background: #222224;
    min-height: 79px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rights_reserved{
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer_networks{
margin-left: 450px;
display: flex;

}







.registration_content{
    display: flex;
    justify-content: space-around;
}


.registration_page_name{
    background: #F8F3F4;
    min-height: 148px;
}

.registration_field{
    padding-left: 135px;
}

.registration_name{
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    padding: 59px 0 60px 230px;
}

.registration_field--name{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    padding-top: 64px;
}

.registration_field--details{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    padding-top: 33px;
}


.registration_paragtaph{
    display: flex;
    padding-top: 21px;
}

.paragtaph_text{
    padding-left: 22px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.field{
    border: 1px solid #A4A4A4;
    min-width: 360px;
    min-height: 44px;
    
}

.male{
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.female{
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.male_field{
    display: flex;
    padding-top: 32px;
}

.registration_text{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    max-width: 360px;
    padding-top: 16px;
    
}

.registration_field--button{
    padding-top: 39px;
    padding-bottom: 96px;
    
    ;
}

.field_button{
    border: 1px solid #FF6A6A;
    background-color: white;
    font-size: 14px;
    line-height: 17px;
    width: 167px;
    height: 50px;
    
    
} 

.field_button--join{
    color:#FF6A6A ;
    width: 100%;
    height: 100%;
    padding-top: 15px;
}

.registration_stocks--header{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-top: 64px;
}

   
.registration_stocks--text{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    max-width: 652px;
    padding-top: 22px;
}


.registration_field--block{
    padding-top: 21px;
}












.submit_email:hover{
    background-color: #6d7af1;
    color: #F1E4E6;

}

button:hover{
    box-shadow: 5px 20px 50px rgba(177, 16, 137, 0.2);
   
}

.advantages_button:hover{
    background-color: #F16D7F;
    box-shadow: 5px 20px 50px rgba(177, 16, 137, 0.2);
}

.advantages_button:hover .button_text{
    color: lavender;
}

.field_button:hover{
    background-color: #F16D7F;
    box-shadow: 5px 20px 50px rgba(177, 16, 137, 0.2);
    color: white;
    border-color: #F16D7F;
}

.field:hover{
    border-color: red;
}

.field_button--join:hover{
    color: white;
}







.password {
	position: relative;
    padding-top: 21px;
}
.password-control {
	position: absolute;
	top: 35px;
	right: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/eye-off-2-svgrepo-com.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(../img/eye-svgrepo-com.svg) 0 0 no-repeat;
}











.brand_poto--text {
    position: relative;
    
}



.header_burger {
    background-color: #222222;
    background-color: transparent;
    margin: 0 35px 0 0;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 58px;
    width: 60px;
    
     
    
    
}


.header_burger:hover, .dropbtn:focus {
    background-color: #222222;
}





.header-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 5px;
}


.header-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.header-content a:hover {background-color: #ddd}


.show {display:block;}
  

.header_menu{
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-top: 37px;
    padding-left: 34px;
}

.header_people{
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding-top: 24px;
    padding-left: 33px;
}

.header_clothes{
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-left: 40px;
}


.footer_logo-pin1{
    background-color: white;
    height: 32px;
    width: 32px;
    margin-left: 5px;
    background-image: url(../img/facebook-svgrepo-com.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.footer_logo-pin2{
    background-color: white;
    height: 32px;
    width: 32px;
    margin-left: 5px;
    background-image: url(../img/instagram-svgrepo-com.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.footer_logo-pin3{
    background-color: white;
    height: 32px;
    width: 32px;
    margin-left: 5px;
    background-image: url(../img/iconfinder_33-pinterest_104469.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.footer_logo-pin4{
    background-color: white;
    height: 32px;
    width: 32px;
    margin-left: 5px;
    background-image: url(../img/twitter-svgrepo-com.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.footer_logo-pin1:hover{
    background-color: var(--dark-pink);
}

.footer_logo-pin2:hover{
    background-color: var(--dark-pink);
}

.footer_logo-pin3:hover{
    background-color: var(--dark-pink);
}

.footer_logo-pin4:hover{
    background-color: var(--dark-pink);
    
}



@media(max-width: 1024px){

    .header{
        margin: 0 auto;
        
    }

    .container{
        width: 100%;
        

    }

    .header__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 75px;
    }

    .brand_foto{
    width: 50%;
    height: 50%;
    }

    .brand__title-wrapper{
        width: 50%;
        
        padding: 0;
        padding-left: 69px;
    }

    .brand__title{
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;
    }


    .brand__subtitle{
        display: block;
        font-size: 25px;
        font-weight: 700;
        line-height: 44px;
    }


    .offers__item {
        color: white;
        width: 28%;
        min-height: 168px;
        background-color: var(--brown);
        margin: 0 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .offers__item--woman{
        background-image: url(../img/Group\ 35.jpg);
        background-size: 100%;
        
    }

    .offers__item--man {
        background-image: url(../img/Group\ 37.jpg);
        background-size: 100%;
    }
    
    .offers__item--kds{
        background-image: url(../img/Group\ 38.jpg);
        background-size: 100%;
    }
    
    .offers__item--accesories {
        background-image: url(../img/Group\ 36.jpg);
        background-size: 100%;
        width: 95%;
        margin: 0 auto;
    }

    .offers__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .container_text{
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    
    }
    
    .container_women{
        font-size: 25px;
        line-height: 22px;
        text-align: center;
        color: var(--dark-pink)
    }

    .products{
        margin-top: 155px;
    }

    .products_background{
        background: #F8F8F8;
        margin-top: 30px;
        width: 50%;
        text-align: center;
    }

    .products_button{
        width: 95%
    }

    .products_photo{
        width: 100%;
    }

    .product_text{
       
        margin: 0 auto;
    }






    .footer_offers_logo{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 ;
        padding: 0;
    }

    .footer_logo1{
        margin: 0;
    }
    
    .footer_logo2{
        margin: 0;
    }

    .footer_logo3{
        margin: 0;
    }

    .free_delivery{
        margin: 0;
        margin-top: 48px;
    }

    .quality_assurance{
        margin: 0;
        margin-top: 48px;
    }

    .sales_discounts{
        margin: 0;
        margin-top: 48px;
    }

    .offers_text1{
        
        margin: 0 auto;
    }

    .offers_text2{
        
        margin: 0 auto;
    }

    .offers_text3{
        
        margin: 0 auto;
    }

    .footer_contacts{
        display: flex;
        flex-direction: column;
    }

    .footer_foto{
        width: 10%;
    }

    .footer_contacts{
        background-image: url(../img/photo\ subscribe.jpg);
        
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;

    }

    .footre_email{
        margin: 0;
        margin-top: 48px;
        
    }


    .contact_text--me{
        padding: 0;
        padding-top: 30px;
    }

    .contact_photo{
        align-items: center;
        padding: 0;
        padding-right: 100px;
        padding-top: 64px;
        
    }

    .contact_text--me{
        margin: 0 auto;
    }

    

    .footer_button{
        text-align: center;
        margin-bottom: 30px;
        
    }

    


    .footer_network{
        height: 100%;
        
        
    
    }

    

    .footre_email{
        margin: 0;
        
    }

    .footer_subscribe{
        margin-top: 48px;
    }


    .input_email{
        padding-bottom: 0;
        background: #E1E1E1;
        width: 256px;
        height: 50px;
        border-radius: 50px 0 0 50px;
        
    }
    
    .submit_email{
        background: #F16D7F;
        width: 100px;
        height: 56px;
        margin: 0;
        border-radius: 0 50px 50px 0;
    }

    .rights_reserved{
        margin-left: 32px;
    }

    .footer_networks{
        margin-right: 32px;
        
        
    
    }

    .header__contorls{
        margin-left: 32px;
        margin-right: 32px;
    }


    
}



@media(max-width: 670px){

    .header{
        margin: 0 auto;
        
    }

    .container{
        width: 100%;
        

    }

    .header__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 75px;
    }

    .brand_foto{
    display: none;
    }

    .header__person-link{
        display: none; 
    }

    .header__person-link1{
        display: none;
    }

    .brand{
        min-height: 375px;
    }

    .brand__title-wrapper{
        padding: 0;
        justify-content: center;
    }

    .header__contorls{
        padding-left: 16px;
    }


    .offers__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .offers__item {
        color: white;
        width: 360px;
        min-height: 260px;
        background-color: var(--brown);
        margin: 0 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .offers__item--woman {
        background-image: url(../img/Group\ 35.jpg);
        background-size: 100%;
       
        
    }
    
    .offers__item--man {
        background-image: url(../img/Group\ 37.jpg);
    }
    
    .offers__item--kds{
        background-image: url(../img/Group\ 38.jpg);
    }
    
    .offers__item--accesories {
        background-image: url(../img/Group\ 36.jpg);
        width: 94%;
        margin: 0;
    }


    .products_photo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    

    .products_background{
        width: 100%;
    }

    .footer_foto{
        width: 20%;
    }

    .footer_network{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .rights_reserved{
        
    }

    .footer_networks{
        justify-content: center;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        
    }


    .footer_button{
        margin-bottom: 50px;
    }








}

