.brand {
    display: flex;
    margin: 0 0 63px;
    
}

.fdhdg{
    margin-top: 20px ;
    
}

.brand {

&-title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

&-title-wrapper {
    padding: 0 0 0 91px;
    flex-grow: 1;
    background-color: var(--pink);
    display: flex;
    align-items: center;
}

&-subtitle {
    display: block;

    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

&-subtitle-pink {
    color: var(--dark-pink);
}

&_foto{
    width: 800px;
    height: 765px; 
    
}
}