.header {
    background-color: var(--dark-blue); 
}

.header-wrapper {
    display: flex ;
    align-items: center ;
    justify-content: space-between ;
    min-height: 75px important;
}

.header-navigation {
    display: none ;
}



.header-logo {
    margin: 0 10px 0 0 ;
}

.header-person-link {
    margin: 0 35px 0 0 ; 
    
}

.header-burger {
    background-color: #222222 ;
    background-color: transparent ;
    margin: 0 35px 0 0 ;
    padding: 16px ;
    font-size: 16px ;
    border: none ;
    cursor: pointer ;
    background-image: url(../img/menu.svg) ;
    background-repeat: no-repeat ;
    background-position: center ;
    height: 58px ;
    width: 60px ;
    
     
    
    
}


.header-burger:hover, .dropbtn:focus {
    background-color: #222222 ;
}





.header-content {
    display: none ;
    position: absolute ;
    background-color: #f1f1f1 ;
    min-width: 180px ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) ;
    z-index: 1 ;
    right: 5px ;
}


.header-content a {
    color: black ;
    padding: 12px 16px ;
    text-decoration: none ;
    display: block ;
}


.header-content a:hover {background-color: #ddd}


.show {display:block;} 
  

.header-content-menu{
    font-size: 14px ;
    line-height: 17px ;
    color: #000000 ;
    padding-top: 37px ;
    padding-left: 34px ;
}

.header-content-people{
    font-size: 14px ;
    line-height: 17px ;
    color: #F16D7F ;
    padding-top: 24px ;
    padding-left: 33px ;
}

.header-content-clothes{
    font-size: 14px ;
    line-height: 17px ;
    color: #6F6E6E;
    margin-left: 40px ;
}