button:hover{
    box-shadow: 5px 20px 50px rgba(177, 16, 137, 0.2);
}

button:hover .product-wrapper-overlay,
button:hover .products_add{
display: block;

}








.advantages_button:hover{
    background-color: #F16D7F;
    box-shadow: 5px 20px 50px rgba(177, 16, 137, 0.2);
}

.advantages_button:hover .button_text{
    color: lavender;
}

.field_button:hover{
    background-color: #F16D7F;
    box-shadow: 5px 20px 50px rgba(177, 16, 137, 0.2);
    color: white;
    border-color: #F16D7F;
}

.field:hover{
    border-color: red;
}

.field_button--join:hover{
    color: white;
}

.submit_email:hover{
    background-color: #6d7af1;
    color: #F1E4E6;

}

.adressshop_field:hover{
    border-color: red;
}

.card_button1:hover{
    background-color: #F16D7F;
    border-radius:15px;
}

.card_button2:hover{
    background-color: #F16D7F;
    border-radius:15px;
    color: white;
}


.card_button2:hover{

    .card_button--join{
    color: white;
}
}

.card_button1:hover{

    .card_button--join{
    color: white;
}
}


.adressshop_buttom:hover{
    background-color: #F16D7F;
}

.adressshop_buttom:hover{

    .adressshop_buttom-get{
        color: white;
    }
}

.priceend_button:hover{
    background-color: #F16D7F ;
    border-radius:15px;
}

.priceend_button:hover{
    .priceend_button--proceed{
    color: white;
    }
}


.cards_1:hover{
    box-shadow: 5px 20px 50px rgba(177, 16, 137, 0.2);
}

.cards_2:hover{
    box-shadow: 5px 20px 50px rgba(177, 16, 137, 0.2);
}


