.header {
    background-color: var(--dark-blue);
}


.header {
  
      
    &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

&__navigation {
    display: none;
}



&__logo {
    margin: 0 10px 0 0;
}

&__person-link {
    margin: 0 35px 0 0;    
}
}